@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.body {
	background-image: url("./images/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.container__menu {
	max-width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__navigation {
	display: flex;
	height: 58px;
	width: 1366px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center
}

.menu_journey {
	text-decoration: none;
	margin-left: 79px;
	font-family: 'Ubuntu';
	font-weight: 700;
	font-size: 22px;
	line-height: 1;
	color: #FFFFFF;
}

.menu_journey:hover {
	opacity: 0.41;
	color: #3CB878;
}

.menu__top {
	display: flex;
	margin-right: 79px;
}

.menu__navigation-text:hover {
	opacity: 0.41;
}

.menu__navigation-text::before {
	content: "";
	background: rgba(255, 255, 255, 0.9);
	width: 1px;
	height: 19px;
	margin-right: 27px;
}

.menu__navigation-login {
	display: inline;
}

.login_in:hover,
.login_up:hover {
	opacity: 0.41;
	color: #3CB878;
}

li {
	margin-right: 25px;
	font-size: 14px;
	line-height: 1;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.login_in,
.login_up {
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #FFFFFF;
}

.menu__top_logo:hover .menu__top_logo-green {
	display: block;
	fill: #3CB878;
}


.container {
	position: absolute;
	width: 444px;
	background: #FFFFFF;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
}

.container__form {
	width: 325px;
	margin-top: 31px;
}

.container__form_header::before {
	content: "";
	width: 18px;
	height: 18px;
	background-color: #3CB878;
	position: absolute;
	top: 31px;
	left: 0;
}

.container__form_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	align-items: flex-end;
}


.container__form_header-sing {
	font-size: 20px;
	line-height: 1;
	color: #434343;
}

.container__form_header-log {
	display: flex;
	font-size: 14px;
	line-height: 1;
	color: #3CB878;
	text-decoration: none;
}


.container__form_header-log:hover {
	color: #01813F;
	text-decoration: underline;
}

.social-button {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.social-button a {
	text-decoration: none;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 1;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	border-radius: 4px;
}

.button-blue {
	background-color: #305DB8;
}

.button-blue:hover {
	background-color: #022263;
}

.button-red {
	background-color: #DF4A32;
}

.button-red:hover {
	background-color: #AB1F09;
}


.button-blue-line::before,
.button-red-line::before {
	content: '';
	opacity: 0.1;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
}

.button-blue-line::before {
	border-left: 1px solid #0A162F;
	margin-right: 18px;
	margin-left: 16px;
}

.button-red-line::before {
	border-left: 1px solid #2b0d09;
	margin-right: 26px;
	margin-left: 8px;
}

.or-line {
	color: #848484;
	margin-bottom: 12px;
	overflow: hidden;
	text-align: center;
	font-size: 14px;
	line-height: 1;
}

.or-line :before,
.or-line:after {
	position: absolute;
	content: "";
	width: 152px;
	height: 1px;
	border-bottom: 1px solid;
	color: #f2f2f2;
}

.or-line :before {
	margin-left: 17px;
	top: 151px;
}

.or-line:after {
	margin-left: -171px;
	top: 151px;
}

.input-part {
	display: flex;
	flex-flow: column;
}

.input-part .form-part input {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.form-input label[type] {
	color: #434343;
	font-size: 14px;
	line-height: 1;
}

.form-input label a {
	color: #3CB878;
	display: inline-block;
}

.form-input label a:hover {
	color: #01813F;
	border-bottom: 1px solid #01813F;
	box-sizing: border-box;
}

.input-text,
.input-email,
.input-password {
	background-color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	border-radius: 4px;
	border: 1px solid #F2F2F2;
	outline: none;
	height: 44px;
	padding-left: 19px;
	margin-bottom: 15px;
}

.input-text:focus,
.input-email:focus,
.input-password:focus {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input-text:active,
.input-email:active,
.input-password:active {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input-password+.input-password {
	margin-bottom: 20px;
}

.checkbox {
	cursor: pointer;
	position: relative;
}

.checkbox-input {
	appearance: none;
	position: absolute;
}

.checkbox-label {
	padding-left: 33px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	align-items: center;
	color: #434343;
}

.checkbox-label-text {
	color: #01813F;
	text-decoration: none;
	margin-bottom: 20px;
}

.form-input label a {
	display: inline;
}

.checkbox-label::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.checkbox-label::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: no-repeat;
	background-size: 20px 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
}

.checkbox-input:checked+.checkbox-label::after {
	opacity: 1;
	background-image: url("./images/Vector.png");
}

.submit-button {
	width: 322px;
	color: #fff;
	font-size: 16px;
	background-color: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	border: none;
	height: 46px;
	cursor: pointer;
	margin-bottom: 38px;
	margin-top: 20px;
}

.submit-button:hover {
	background-color: #01813F;
}